<!DOCTYPE html>
html
  head
    title Giraffe
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfTnmwTl7XdOd9FVQyCjG1Vy6PWdqmISI&sensor=false")
    script(type='text/javascript', src='/js/webapplication.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
    script
      $(function() {
        $( "#slider" ).slider({
          max:500,
          value: 20,
          slide: function(event,ui){
            $("#slider-value").html(ui.value + "m radius");
            $("#radius").val( ui.value );
          }
          

          });
        $("map-canvas").html="poo";


      });
      
  body(onload='getUserLocation()')
    div.navbar.navbar-inverse
      div.navbar-inner
        a.brand(href='#') Giraffe
        ul.nav
          li.active
            a(href='#') Home
          li
            a(href='#') Profile
          li
            a(href='#') Settings
    div.container-fluid
      div.row-fluid
        div.span4
          div.span8
            h3#page-header Nearby Graffiti
          div.span4
            button#post-button.btn.btn-large.btn-primary(type="button", onclick="postGraffiti()") 
              d Post Graffiti
            button#list-button.btn.btn-large.btn-primary(type="button", onclick="listGraffiti()")
              d Back
          div#graffiti-list
            table.table.table-bordered
              for post in posts
                tr
                  td
                    p 
                      strong CS210Student #{post.radius} ft. radius
                    p#message-date #{post.date_created}
                    p #{post.message}
          div#graffiti-form.row-fluid
            div.span8
              form(name="graffitipost", action="/addgraffiti", method="post")
                fieldset
                  h4 Post message
                  textarea#input-textarea(rows="5", name="message")
                  h4 Select Post Radius
                  div#slider
                  div#slider-value 
                    strong 20 m radius
                  br
                  
                  input#lat-input(type="hidden",name="latitude",value="")
                  input#long-input(type="hidden",name="longtitude",value="")
                  input#radius(type="hidden",value="0", name="radius")
                  input(type="hidden",value="CS210Student",name="user_id")

                  button(type="submit").btn Submit


        div.span8
          //input(type='button', value='get location',onclick='getUserLocation()')
          div(id='map-canvas')



